In [1]:
# Google Driveと接続を行います。これを行うことで、Driveにあるデータにアクセスできるようになります。
# 下記セルを実行すると、Googleアカウントのログインを求められますのでログインしてください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# 作業フォルダへの移動を行います。
# 人によって作業場所がことなるので、その場合作業場所を変更してください。
import os 
os.chdir('/content/drive/MyDrive/Pythonデータ分析100本ノック/100knock-data_analytics/4章') #ここを変更。

# 4章 顧客の全体像を把握する１０本ノック

引き続き、スポーツジムの会員データを使って顧客の行動を分析していきます。  
３章で顧客の全体像を把握しました。  
ここからは、機械学習を用いて顧客のグループ化や顧客の利用予測行なっていきましょう。  
ここでは、教師なし学習、教師あり学習の回帰を取り扱います。

### ノック31：データを読み込んで確認しよう

In [4]:
import pandas as pd
uselog = pd.read_csv('use_log.csv')
uselog.isnull().sum()

log_id         0
customer_id    0
usedate        0
dtype: int64

In [5]:
customer = pd.read_csv('customer_join.csv')
customer.isnull().sum()

customer_id             0
name                    0
class                   0
gender                  0
start_date              0
end_date             2842
campaign_id             0
is_deleted              0
class_name              0
price                   0
campaign_name           0
mean                    0
median                  0
max                     0
min                     0
routine_flg             0
calc_date               0
membership_period       0
dtype: int64

### ノック32：クラスタリングで顧客をグループ化しよう

In [6]:
customer_clustering = customer[['mean', 'median', 'max', 'min', 'membership_period']]
customer_clustering.head()

       mean  median  max  min  membership_period
0  4.833333     5.0    8    2                 47
1  5.083333     5.0    7    3                 47
2  4.583333     5.0    6    3                 47
3  4.833333     4.5    7    2                 47
4  3.916667     4.0    6    1                 47

In [7]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# 標準化
sc = StandardScaler()
customer_clustering_sc = sc.fit_transform(customer_clustering)

# k-meansのモデル構築
kmeans = KMeans(n_clusters=4, random_state=0) # クラスタ数に４を指定
clusters = kmeans.fit(customer_clustering_sc)
customer_clustering = customer_clustering.assign(cluster = clusters.labels_)

print(customer_clustering['cluster'].unique())
customer_clustering.head()

[1 2 3 0]

       mean  median  max  min  membership_period  cluster
0  4.833333     5.0    8    2                 47        1
1  5.083333     5.0    7    3                 47        1
2  4.583333     5.0    6    3                 47        1
3  4.833333     4.5    7    2                 47        1
4  3.916667     4.0    6    1                 47        1

### ノック33：クラスタリング結果を分析しよう

In [8]:
customer_clustering.columns = ['月内平均', '月内中央値', '月内最大値', '月内最小値', '会員期間', 'cluster']
customer_clustering.groupby('cluster').count()

         月内平均  月内中央値  月内最大値  月内最小値  会員期間
cluster
0         840    840    840    840   840
1        1249   1249   1249   1249  1249
2         771    771    771    771   771
3        1332   1332   1332   1332  1332

In [9]:
customer_clustering.groupby('cluster').mean()

             月内平均     月内中央値      月内最大値     月内最小値       会員期間
cluster
0        8.061942  8.047024  10.014286  6.175000   7.019048
1        4.677561  4.670937   7.233787  2.153723  36.915933
2        3.065504  2.900130   4.783398  1.649805   9.276265
3        5.539535  5.391141   8.756006  2.702703  14.867868

### ノック34：クラスタリング結果を可視化してみよう

### ノック35：クラスタリング結果をもとに退会顧客の傾向を把握しよう

### ノック36：翌月の利用回数予測を行うためのデータ準備をしよう

### ノック37：特徴となる変数を付与しよう

### ノック38：来月の利用回数予測モデルを作成しよう

### ノック39：モデルに寄与している変数を確認しよう

### ノック40：来月の利用回数を予測しよう