<a href="https://colab.research.google.com/github/yoshimochi/Python100Knock/blob/main/%E6%9C%9D%E7%B7%B4%E3%82%B5%E3%83%B3%E3%83%95%E3%82%9A%E3%83%AB%E3%83%95%E3%82%9A%E3%83%AD%E3%82%AF%E3%82%99%E3%83%A9%E3%83%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Google Driveと接続を行います。これを行うことで、Driveにあるデータにアクセスできるようになります。
# 下記セルを実行すると、Googleアカウントのログインを求められますのでログインしてください。
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# 作業フォルダへの移動を行います。
# 人によって作業場所が異なるので、その場合作業場所を変更してください。
import os 
os.chdir('/content/drive/MyDrive/Pythonデータ分析100本ノック/100knock-data_analytics/朝練') #ここを変更。

# 朝練 サンプルプログラム

Googleドライブにあるcsvファイルを、Pandasライブラリを用いて読み込みを行います。

In [3]:
import pandas as pd

In [4]:
file = 'height_data.csv'
# ファイルの読み込み
df = pd.read_csv(file)

In [5]:
# 表示処理
df.head()

      身長
0  170.9
1  173.5
2  164.8
3  174.7
4  168.1